{% extends "base.html" %}

{% block title %}
    About Page
{% endblock %}

{% block content %}
<h1>A Minimal Application</h1>
<h2>A minimal Flask application looks something like this:</h2>

<pre>
<code>
from flask import Flask

app = Flask(__name__)

@app.route("/")
def hello_world():
    return "&lt;p&gt;Hello, World!&lt;/p&gt;"
</code>
</pre>

<p>This is a simple Flask app where the route "/" returns a "Hello, World!" message. You can run this app by saving it in a Python file and running it using <code>python filename.py</code>.</p>
{% endblock %}
